@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Urbanist", serif !important;
}
.bg-image{
    background-image: url(./assets/photo.jpg);
    background-size: cover;
    background-position: center;
    width: auto !important;
}
.bg-blur{
    transition: 0.3s ease-in;
}
.bg-blur:hover{
    backdrop-filter: blur(10px);
}